<main class="main-page">
  <div class="text-wrapper">
    <p>Welcome to</p>
    <h1 class="logo-font">PopOpolis</h1>
  </div>

  <button
    mat-raised-button
    (click)="openUserRegistrationDialog()"
    style="margin-right: 15px;"
    color="accent"
  >
    Sign Up
  </button>
  <button
    mat-raised-button
    (click)="openUserLoginDialog()"
    color="accent"
  >
    Login
  </button>
  <div>
    <button
      mat-button
      class="guest-login"
      (click)="guestLogin()"
    >Login as Guest</button>
  </div>
</main>
