main {
  text-align: center;
  margin-top: 15%;
}

.logo-font {
  font-family: 'Limelight', sans-serif;
  font-size: 3rem;
  margin-bottom: 3rem;
  margin-top: 0;
}

.guest-login {
  margin-top: 1rem;
}