mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 1;
  color: rgb(230, 230, 230);
  background: linear-gradient(180deg, rgb(36, 36, 36) 50%,
  rgba(36, 36, 36, 0.9) 60%,
  rgba(36, 36, 36, 0.7) 75%,
  rgba(36, 36, 36, 0.4) 85%,
  rgba(36, 36, 36, 0) 100%);
}

.toolbar-spacer {
  width: 80%;
}

.logo-font {
  font-family: 'Limelight', sans-serif;
  font-size: x-large;
  color: rgb(255, 234, 0);
}