<mat-card>
  <mat-card-content>
    <img class="card-image" src={{movie.ImagePath}} alt="movie poster" />
    <mat-card-title>{{movie.Title}}</mat-card-title>
    <mat-card-subtitle mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
  </mat-card-content>
  <mat-card-actions>
      <button
        mat-raised-button
        (click)="openDirectorDialog()"
        aria-label="View details about the director."
      >Director</button>

      <button
        mat-raised-button
        (click)="openGenreDialog()"
        aria-label="View details about the genre."
      >Genre</button>

      <button
        mat-raised-button
        (click)="openSynopsisDialog()"
        aria-label="View details about this movie."
      >Synopsis</button>

      @if(isThisAFavorite) {
        <button
          mat-icon-button
          (click)="removeFromFavorites()"
          color="warn"
          aria-label="Button to remove movie from favorites."
        >
          <mat-icon>favorite_fill</mat-icon>
        </button>
      }
      @else {
        <button
          mat-icon-button
          (click)="addToFavorites()"
          color="warn"
          aria-label="Button to add movie to favorites."
        >
          <mat-icon>favorite_border</mat-icon>
        </button>
      }
  </mat-card-actions>
</mat-card>