<mat-card>
  <mat-dialog-content>
    <mat-card-title>{{movie.Title}}</mat-card-title>
    <mat-card-subtitle>
      Directed by: {{movie.Director.Name}}
    </mat-card-subtitle>
    <img src={{movie.ImagePath}} alt="movie poster" style="height: 50vh;" />
    <mat-card-actions>
      <button
        mat-button
        (click)="openDirectorDialog()"
        color="primary"
        aria-label="View details about the director."
      >Director</button>

      <button
        mat-button
        (click)="openGenreDialog()"
        color="primary"
        aria-label="View details about the genre."
      >Genre</button>

      <button
        mat-button
        (click)="openSynopsisDialog()"
        color="primary"
        aria-label="View details about this movie."
      >Synopsis</button>

      @if(isThisAFavorite) {
        <button
          mat-button
          (click)="removeFromFavorites()"
          color="primary"
          aria-label="Button to remove movie from favorites."
        >
          <mat-icon>favorite_fill</mat-icon>
        </button>
      }
      @else {
        <button
          mat-button
          (click)="addToFavorites()"
          color="primary"
          aria-label="Button to add movie to favorites."
        >
          <mat-icon>favorite_border</mat-icon>
        </button>
      }
      
    </mat-card-actions>
  </mat-dialog-content>
</mat-card>