<div class="delete-dialog-wrapper">
  <h2 style="text-align: center;">Confirm Account Deletion</h2>
  <mat-dialog-content>
    <p>
      <b>Are you sure you would like to permanently delete your account?</b>
      <br>
      You will be logged out and your account information will be deleted.
    </p>
  </mat-dialog-content>
  <mat-dialog-actions style="justify-content: center;">
    @if (isUserGuest) {
      <button
      mat-raised-button
      color="warn"
      (click)="deleteAccount()"
      [disabled]="isUserGuest"
      matTooltip="Cannot delete guest."
    >Delete Account</button>
    }
    @else {
      <button
      mat-raised-button
      color="warn"
      (click)="deleteAccount()"
    >Delete Account</button>
    }
    <button
      mat-raised-button
      color="accent"
      mat-dialog-close
      style="margin-left: 15px;"
    >Cancel</button>
  </mat-dialog-actions>
</div>