.profile-view {
  color: rgb(230, 230, 230);
}

.profile-wrapper {
  padding-top: 70px;
  display: flex;
  flex-wrap: wrap;
}

.account-wrapper {
  padding-inline: 50px;
  margin-inline: 5%;
}

mat-form-field {
  display: grid;
  max-width: 500px;
}

.profile-movie-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
}