<div class="profile-view">
  <app-toolbar></app-toolbar>
  <div class="profile-wrapper">
    <div class="account-wrapper">
      <div class="account-info">
        <h2>Account Information</h2>
        <p><b>Username:</b> {{userDetails.Username}}</p>
        <p><b>Email:</b> {{userDetails.Email}}</p>
        <p><b>Birthday:</b> {{userDetails.Birthday | date: "shortDate":"UTC+1"}}</p>
      </div>
      <div class="update-info">
        <h2>Update Account Information</h2>
        <form [formGroup]="updateUserForm" (ngSubmit)="updateUserInfo()">
          <mat-form-field appearance="fill" color="accent">
            <input
              matInput
              id="Username"
              formControlName="Username"
              placeholder="Username"
              type="text"
              name="Username"
            >
            <mat-error>Username is required.</mat-error>
            <mat-error>Username must be alphanumeric.</mat-error>
            <mat-error>Username must be at least 3 characters.</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" color="accent">
            <input
              matInput
              id="Password"
              formControlName="Password"
              placeholder="Password"
              type="password"
              name="Password"
            >
            <mat-error>Password is required.</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" color="accent">
            <input
              matInput
              id="Email"
              formControlName="Email"
              placeholder="Email"
              type="email"
              name="Email"
            >
            <mat-error>Email is required.</mat-error>
            <mat-error>Please enter a valid email.</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" color="accent">
            <input
              matInput
              id="Birthday"
              formControlName="Birthday"
              placeholder="Birthday"
              type="date"
              name="Birthday"
            >
            <mat-error>Birthday is required.</mat-error>
          </mat-form-field>
          @if ("isUserGuest") {
            <button
              class="update-info-button"
              mat-raised-button
              type="submit"
              [disabled]="isUserGuest"
              disabledInteractive
              matTooltip="Cannot edit guest account."
              aria-label="Button to update the guest account is disabled."
            >Update</button>
          }
          @else {
            <button
              class="update-info-button"
              mat-raised-button
              type="submit"
              aria-label="Button to update account information."
            >Update</button>
          }
        </form>
      </div>
      <div class="delete-button-wrapper">
        <button
          class="delete-dialog-button"
          mat-button
          color="warn"
          (click)="openConfirmDeleteDialog()"
        > or Delete Account</button>
      </div>
    </div>
      

    <div class="profile-movies-wrapper">
      <h2>Favorite Movies</h2>
      @if(favoriteMovies == undefined || favoriteMovies.length === 0) {
        <p>Add movies to your list.</p>
      }
      @else {
        <div class="profile-movie-card-wrapper">
          @for (movie of favoriteMovies; track "movie._id") {
            <app-movie-card
              [movie]="movie"
            />
          }
        </div>
      }
    </div>
  </div>
</div>