.profile-wrapper {
  padding-top: 70px;
  display: flex;
  flex-wrap: wrap;
}

.account-wrapper {
  margin-left: 5%;
  margin-bottom: 5%;
}

b {
  letter-spacing: 1px;
}

mat-form-field {
  display: grid;
  max-width: 500px;
}

.profile-movies-wrapper {
  margin-left: 5%;
}

.profile-movie-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
}

@media (max-width: 600px) {
  .account-wrapper {
    width: 90%;
  }
}

@media (min-width: 601px) {
  .account-wrapper {
    width: 35%;
  }
}