.main-view {
  background-color: rgb(36, 36, 36);
}

.movie-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 20px;
  width: 90%;
  margin-inline: auto;
}

app-movie-card {
  flex: 1 1 auto;
}